<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {# Archivos #}
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static './css/estilos.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static './css/registro.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
  <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
  <title>BEER PUB</title>
  {# Cargamos la librería #}
  {% load django_bootstrap5 %}
  {# CSS Bootstrap #}
  {% bootstrap_css %}

   <!-- ------------------------------------- ver si va ------------------- -->  
	  {# Widget Tweaks #}
    {% load widget_tweaks %}


</head>

<body class="bg-dark">
  <div class="menu-btn">
    <i class="iconoBoton"><img src="{% static './media/img/btn-amburg.png' %}" alt="" width="55em" height="55em"></i>
  </div>
      <div class="contenedor">
    <header>
          <div class="logo">
          </div>
      <!-- <div>
                  
                  <h2 class="cabecera">
                      Pub -  Cerveceria
                  </h2>
              </div> -->
    </header>

    <!-- aca va el show para que aparezca con js el menu -->
        <!--Comienzo de la barra de navegación-->
        <nav>
          <div> <h1> <a href="{% url 'index' %}"> Home</a></h1></div>
          <div> <h1> <a href="{% url 'acercade' %}">Acerca de </a></h1></div>
          <div> <h1> <a href="{% url 'localizacion' %}"> Localizacion</a></h1></div>
          <div> <h1> <a href="{% url 'contacto' %}">Contacto</a></h1></div>
          <div> <h1> <a href="{% url 'faq' %}">Faq</a></h1></div>
          <div> <h1> <a href="{% url 'leer' %}">Gestion</a></h1></div>
    
    </nav>
    <!--Fin de la barra de navegación-->
    </div>

    <hr class="bg-white" style="padding:2px; padding-top:0px">
  </div>
  <main>
  {% comment %} <main role="main"> {% endcomment %}

       {% comment %} <div class="container text-center mt-5"> {% endcomment %}

      {% comment %} <div class="row mb-4">  esta clase row centra{% endcomment %}

            <div class="col-md-12">
              <h2 class="text-white">GESTION DE ADMINISTRACION DE MOMENTOS</h2>
            </div>
          {% comment %} </div> {% endcomment %}          

          <div class="row mb-5"  style="height:300px; width:100%; overflow-y:scroll;">


            <div class="col-md-10">

              <div class="table-responsive">

                <nav aria-label="breadcrumb mb-3">
                  <!-- ------------------------------  VER QUE ONDA --------------- -->
        					<ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'leer' %}" class="text-white">MOMENTOS</a></li>
        					    <li class="breadcrumb-item"><a href="#" class="text-white">Editar</a></li>
        					    <li class="breadcrumb-item active" aria-current="page">{{object.nombre}}</a></li>
        					</ol>
        				</nav>

                <div class="formulario" align="left">

                	<h4>Actualizar</h4>

        					<form method="post" enctype="multipart/form-data">
        					{% csrf_token %}
        						<!-- {{ form.as_p }} -->
        						<div class="form-group">
        						    <label for="nombre" class="text-white" class="txt_negrita" >Nombre</label>
        						    {{ form.nombre|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="contacto" class="text-white class="txt_negrita" ">Contacto</label>
        						    {{ form.contacto|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="experiencia" class="text-white" class="txt_negrita" >Experiencia</label>
        						    {{ form.experiencia|add_class:"form-control" }}
        						</div>
        						<div class="form-group">
        						    <label for="img" class="text-white" class="txt_negrita" >Imagen</label >
        						    {{ form.img|add_class:"form-control mb-3" }}
        						    <p class="text-white" class="txt_negrita" >Imagen Actual:</p>
        						    <img src="{% static 'uploads/'%}{{object.img}}" class="img-fluid" alt="{{object.nombre}}" style="width:200px; height:300px;">

        						</div>
        						<button type="submit" class="btn btn-primary" class="text-white">Aceptar</button>
                    <a href="{% url 'leer' %}" type="submit" class="btn btn-primary" class="text-white">Volver</a>
        					</form>

                </div>
                
              </div>

            </div>

          </div>          

          
          
        <!-- </div> -->

    </main>


    <footer class="center">
      <div style="width:5px;height:10px;"></div>
      <p style="color:white">Síguenos en nuestras redes. </p>
      <a style="color:white"  href="https://www.twitter.com" target="_blank">
          <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a style="color:white" href="https://www.facebook.com" target="_blank">
          <i class="fa fa-facebook" aria-hidden="true"></i>
      </a>
      <a style="color:white" href="https://www.pinterest" target="_blank">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
      </a>
      <a style="color:white" href="https://www.instagram.com" target="_blank">
          <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
      <a style="color:white" href="https://www.linkedin.com" target="_blank">
          <i class="fa fa-linkedin" aria-hidden="true"></i>
      </a>
      <p style="color:white">Derechos reservados @2023</p>
    </footer>

      <script type="text/javascript">
        $('.form-group').html(function (i, t) {
          return t.replace('Actualmente:', '<span class="ocultar" class="text-white">Actualmente:</span>');
        });

         $('.form-group').html(function (i, t) {
          return t.replace('Currently:', '<span class="ocultar" class="text-white">Currently:</span>');
        });
      </script>     
      <script src="{%static './js/menu.js'%}"></script>
  </body>
</html>