<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# Cargamos la librería #}
    {% load django_bootstrap5 %}
  
    {# CSS Bootstrap #}
    {% bootstrap_css %} 
  
    {# Archivos #}
    {% load static %}
    <link rel="stylesheet" href="{% static './css/style.acercade.css' %}">
    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
    <title>BEER PUB</title>

</head>

<body>
    <div class="menu-btn">

        <i class="iconoBoton"><img src="{% static './media/img/btn-amburg.png' %}" alt="" width="55em" height="55em"></i>
    </div>
    <div class="contenedor">

        <header>
            <div class="logo">
                
            </div>
            <!-- <div>
                
                <h2 class="cabecera">
                    Pub -  Cerveceria
                </h2>
            </div> -->
        </header>

        <!-- aca va el show para que aparezca con js el menu -->
        <nav>
            <div> <h1> <a href="{% './jugos/index.html' %}"> Home</a></h1></div>
            <div> <h1> <a href="{% './jugos/acercade.html' %}">Acerca de </a></h1></div>
            <div> <h1> <a href="{% './jugos/localizacion.html' %}"> Localizacion</a></h1></div>
            <div> <h1> <a href="{% './jugos/contacto.html' %}">Contacto</a></h1></div>
            <div> <h1> <a href="{% './jugos/faq.html' %}">Faq</a></h1></div>
        
    </nav>
</div>
{% block contenido %}
{% endblock contenido %}


{% include "./footer.html" %}