<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  {# Cargamos la librería #}
  {% load django_bootstrap5 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %} 

  {# Archivos #}
  {% load static %}
  <link rel="stylesheet" href="{% static './css/contacto.css'%}">
      <link rel="stylesheet" href="{% static './css/style.css' %}">
  <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
  <title>BEER PUB</title>
<style>
  .field-wrap {
    display: flex;
    flex-direction: column;
  }
  
  .field-wrap > label {
    display: block;
  }
  
  .field-wrap > input[type="radio"] {
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
  }
</style>
</head>
<body>
    <div class="menu-btn">

      <i class="iconoBoton"><img src="./media/img/btn-amburg.png" alt="" width="55em" height="55em"></i>
      
  </div>
  <div class="contenedor">
    <header>
      <div class="logo">
                
      </div>
    </header>
      <div class="container-lg">
        <!-- ver si banca un include nav.html como hice en el footer -->
        <nav>
            <div> <h1> <a href="{% './jugos/index.html' %}"> Home</a></h1></div>
            <div> <h1> <a href="{% './jugos/acercade.html' %}">Acerca de </a></h1></div>
            <div> <h1> <a href="{% './jugos/localizacion.html' %}"> Localizacion</a></h1></div>
            <div> <h1> <a href="{% './jugos/contacto.html' %}">Contacto</a></h1></div>
            <div> <h1> <a href="{% './jugos/faq.html' %}">Faq</a></h1></div>
        
    </nav>
      </div>
    </div>

{% block contenido %}
{% endblock contenido %}


{% include "./footer.html" %}