<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <script src="https://kit.fontawesome.com/e15e8c34af.js" crossorigin="anonymous"></script>
    <title>BEER PUB</title>


    {# Archivos #}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static './css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './css/registro.css' %}"> 
    {% comment %} {# Cargamos la librería #}
    {% load django_bootstrap5 %}
 
    {# CSS Bootstrap #}
    {% bootstrap_css %}  {% endcomment %}
    <script>
        document.querySelector('.menu-btn').addEventListener('click',() => { document.querySelector('nav').classList.toggle('show');});
    </script>

  </head>

  <body>
    
    
    <div class="menu-btn">

        <i class="iconoBoton"><img src="{% static './media/img/btn-amburg.png' %}" alt="" width="55em" height="55em"></i>
    </div>
    <div class="contenedor">

        <header>
            <div class="logo">
                
            </div>
            <!-- <div>
                
                <h2 class="cabecera">
                    Pub -  Cerveceria
                </h2>
            </div> -->
        </header>

        <!-- aca va el show para que aparezca con js el menu -->
        <!-- <nav>
        <div> <h1> <a href="crear"> Home</a></h1></div>
        <div> <h1> <a href="#">Acerca de </a></h1></div>
        <div> <h1> <a href="#"> Localizacion</a></h1></div>
        <div> <h1> <a href="#">Contacto</a></h1></div>
        <div> <h1> <a href="#">Faq</a></h1></div>
        
    </nav> -->
    <!--Comienzo de la barra de navegación-->
    <nav>
        <div> <h1> <a href="{% url 'index' %}"> Home</a></h1></div>
        <div> <h1> <a href="{% url 'acercade' %}">Acerca de </a></h1></div>
        <div> <h1> <a href="{% url 'localizacion' %}"> Localizacion</a></h1></div>
        <div> <h1> <a href="{% url 'contacto' %}">Contacto</a></h1></div>
        <div> <h1> <a href="{% url 'faq' %}">Faq</a></h1></div>
        <div> <h1> <a href="{% url 'leer' %}">Gestion</a></h1></div>
        
</nav>
 <!--Fin de la barra de navegación-->



        <!-- esto es segun profe ocaña, ir probando la barra de navegacion con las diferentes
        alternativas, pero creo que esta es la que anda -->

  


        <div style="width:5px;height:10px;"></div>
     
    </div> {% comment %} div de la class contenedor  {% endcomment %}

<hr>
<main class="sliderII">
    <section class="section-index">

        <div class="slider">
            <ul>


                <li> <img src="{% static './media/img/florencia-viadana-mI61X5I-jKQ-unsplash.jpg'%}" alt="" class="tamaño"></li>
                <li> <img src="{% static './media/img/patrick-tomasso-GXXYkSwndP4-unsplash.jpg'%}" alt="" class="tamaño"></li>
                <li> <img src="{% static './media/img/jon-parry-C8eSYwQkwHw-unsplash.jpg'%}" alt="" class="tamaño"></li>
                <li> <img src="{% static './media/img/fondodos.jpg'%}" alt="" class="tamaño" ></li>

            
            
            </ul> 

        </div>




    </section>
    <aside>
        <div class="slider scroll">

            <section class="form-wrapper">
                <h2>Registrate</h2>
                <h4> 👉 Habra novedades para vos....!! 👈 </h4>
             
                                         <!-- cambiar este endpoint del formspree -->
                <form  id="formRegister" name="contact" action="https://formspree.io/f/xvojadgo" method="POST"  >
                    <div class="form-control show">
                        <label for="firstname">Nombre</label>
                        <input type="text" name="firstname" id="firstname" >
                    </div>
                    <div class="error" id="error-firstname"></div>
                <div class="form-control">
                    <label for="lastname">Apellido</label>
                    <input type="text" name="lastname" id="lastname">
                </div>
                <div class="error" id="error-lastname"></div>
                <div class="form-control">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </div>
                <div class="form-control">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="form-control">
                    <label id="label-birthdate" for="birthdate">Fecha de Nacimiento</label>
                    <input type="date" name="birthdate" id="birthdate">
                </div>
                <div class="form-control">
                    <select name="country" id="country" class="form-select">
                        <option value="">País</option>
                        <option value="AR">Argentina</option>
                        <option value="BO">Bolivia</option>
                        <option value="BR">Brasil</option>
                        <option value="CH">Chile</option>
                        <option value="CO">Colombia</option>
                        <option value="EC">Ecuador</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Perú</option>
                        <option value="UY">Uruguay</option>
                        <option value="VE">Venezuela</option>
                    </select>
                </div>
                <div class="form-terms">
                    <div class="terms">
                        <input type="checkbox" id="terms">
                        <label for="terms">Acepto términos y condiciones</label>
                    </div>
                </div>
                <button type="submit">Registrarse</button>
                <div class="form-help"> 
                    <a href="#">Necesitas ayuda?</a>
                </div>
            </form>
        </section>

        
    </div>
        
    </aside>
    <div id="modal-container">
        <div class="div-modal" id="div-modal">
                     
            <section class="modal hidden">
              <div class="flex">
                <img src="{% static './media/img/logo_cerveza.jpg' %}" width="50px" height="50px" alt="user" />            
              </div>
              <div><br/>
                <h3>¿SOS MAYOR DE 18 AÑOS?</h3><br/>
              </div>
              <div class="button-container">
                <button class="btn-modal" id="btn-mayor">Soy mayor</button>
                <button Class="btn-modal" id="btn-menor" onclick="window.location.href = 'https://www.youtube.com/playlist?list=PLj9a64Hsq1qrFZYaNh1waoaFvTJrTn0LP'">Soy menor</button>

              </div>
            </section>
         </div>
        </div>
    
    

</main>

<footer class="center">
    
    <p>Síguenos en nuestras redes. </p>
    <a class="redsoc"  href="https://www.twitter.com" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    <a class="redsoc" href="https://www.facebook.com" target="_blank">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a class="redsoc" href="https://www.pinterest" target="_blank">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
    <a class="redsoc" href="https://www.instagram.com" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    <a class="redsoc" href="https://www.linkedin.com" target="_blank">
        <i class="fa fa-linkedin" aria-hidden="true"></i>
    </a>
<p>Derechos reservados @2023</p>
<div style="width:5px;height:10px;"></div>
</footer>

    <script src="{% static './js/menu.js'%}"></script>
    <script src="{% static './js/validation-register.js'%}"></script>
    <script src="{% static './js/contacto.modal.js'%}"></script>

</body>


</html>
